body{
  /* background-color: #F9F9F9; */
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

.app {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.active {
  text-decoration: underline;
}
/* .bg-dark h1,
.bg-dark a {
    color: white !important; 
}

.bg-light h1,
.bg-light a {
    color: black; 
} */

.theme-toggle {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}

ul.categories {
  list-style: none;
  margin: 0;
  overflow: hidden;
  display: block;

}

ul.categories>li.categories {
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
  margin: 0 0 0 1px;
}

ul.categories>li.categories a.cateoryLink span {
  display: inline-block;
  min-width: 60px;
  padding: 40px 10px 7px;
}

.business-bg {
  background-image: url('/images/business-bg.webp');  /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  min-height: 100vh;  /* Full viewport height */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  /* color: white; */
}

.business-card {
  text-align: justify;
}
/*
Soft Neutrals (Light Gray or Off-White)

Hex Codes: #F9F9F9 or #F0F0F0
These subtle, neutral tones keep the focus on the content without overwhelming the eye, giving a clean and professional appearance.
Warm Tones (Pale Beige or Light Cream)

Hex Codes: #FFF7E6 or #FAF3DD
A warm, pale beige background adds a touch of friendliness, making the site feel more inviting and personal—perfect for promoting local businesses.
Soft Blue or Light Teal

Hex Codes: #E6F7FF or #E0F2F1
Light blues and teals evoke a sense of trust and calm. They’re great for community-centered sites and provide a gentle contrast that can work well with darker font colors for readability.
Light Pastel Green

Hex Code: #EAF7E6
This subtle green brings a fresh, positive vibe, hinting at growth and community. It’s a good match if the site is positioned as modern and eco-friendly or community-centered.
*/