@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="container">
    <p>Instructions to use this app</p>
    <ul>
        <li>First create a Product</li>
        <li>Second create a User/ Person</li>
        <li>And lastly you can create an Order and an Order line</li>
        <li>You can change the region from the change region menu and browse or repeat the above operations on a different region</li>
        <li>Admin view is to access records from all the databases/ regions</li>
    </ul>
</div>