@page
@model GlobalShopping.Pages.Shopping.CreateModel

@{
    ViewData["Title"] = "Create";
}

<p class="h1 text-center">Create product</p>

<br />

<p>
    <a class="btn btn-outline-primary" asp-page="Index">< Product list</a>
</p>

<div class="container border rounded-3">

    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Product.Name" class="control-label"></label>
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Product.Category" class="control-label"></label>
                    <select asp-for="Product.Category" class="form-control form-select form-select-lg" asp-items="ViewBag.ProductCategory"></select>
                    <span asp-validation-for="Product.Category" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Product.Price" class="control-label"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Product.ManufactureDate" class="control-label"></label>
                    <input asp-for="Product.ManufactureDate" class="form-control" />
                    <span asp-validation-for="Product.ManufactureDate" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Product.StockQuantity" class="control-label"></label>
                    <input asp-for="Product.StockQuantity" class="form-control" />
                    <span asp-validation-for="Product.StockQuantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Active" class="control-label"></label>
                    <input asp-for="Product.Active" class="form-check-input" type="checkbox" />
                    <span asp-validation-for="Product.Active" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Product.ProductImage" class="control-label"></label>
                    <input asp-for="Product.ProductImage" class="form-control" type="file" />
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
